
Required installations :

Pip install django
Pip install django-filter
Pip install django-phonenumber-field[phonenumberslite]
Pip install djangorestframework
Pip install djangorestframework-simplejwt
Pip install djangorestframework pillow

